apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 80
        env:
        - name: PINGFED_SSO_URL
          value: "{{ .Values.pingFed.ssoURL }}"
        - name: PINGFED_ENTITY
          value: "{{ .Values.pingFed.entityID }}"